body {
    margin: 0;
    display: grid;

    /* 5 lignes : header / menu / contenu / nav / footer */
    grid-template-rows: 70px 50px 1fr 100px 50px;
    grid-template-columns: 1fr;

    grid-template-areas:
        "header"
        "menu"
        "content"
        "nav"
        "footer";

    height: 100vh;

    /* espace uniforme entre zones */
    row-gap: 20px;
    padding: 15px; /* espace entre zones et bords */
    box-sizing: border-box;
}

/* HEADER */
header {
    grid-area: header;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

/* MENU */
nav {
    grid-area: menu;
    background: #f4f4f4;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    white-space: nowrap;
}

/* CONTENU */
main {
    grid-area: content;
    padding: 10px;
}

/* NAVIGATION (cadre pleine largeur) */
.nav {
    grid-area: nav;
    background: #eaeaea;
    border: 1px solid #333;
    /*border-radius: 8px;*/

    /*width: 100%;*/
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.nav h1 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.nav p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* FOOTER */
footer {
    grid-area: footer;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
