/* THEME D’IMPRESSION */
@media print {

    /* Masquer toutes les zones inutiles */
    header,
    nav,
    aside,
    .theme-btn,
    .menu,
    .nav-in-main {
        display: none !important;
    }

    /* Afficher uniquement main + footer */
    main,
    footer {
        display: block !important;
    }

    /* Nettoyage du layout */
    body {
        margin: 0;
        padding: 0;
        background: white !important;
    }

    /* Rendre le contenu lisible */
    main {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 12pt;
    }

    /* Supprimer les couleurs inutiles */
    * {
        background: none !important;
        box-shadow: none !important;
    }
}
